@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(163, 151, 136);
}
.header {
  text-align: center;
  padding: 50px 0px;
  font-family: "Tilt Prism";
  font-size: larger;
  background-color: rgb(53, 59, 57);
  text-shadow: #fc0 1px 0 10px;
}
.game {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.restoOps {
  display: flex;
  gap: 60px;
}
#ROCK {
  background-image: url(imgs/icons8-puño-cerrado-96.png);
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  border-radius: 20px;
}
#PAPER {
  background-image: url(imgs/icons8-open-hand-96.png);
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  border-radius: 20px;
}
#SCISSOR {
  background-image: url(imgs/icons8-tijeras-de-mano-96.png);
  background-repeat: no-repeat;
  height: 110px;
  width: 110px;
  border-radius: 20px;
}
#ROCK:hover,
#PAPER:hover,
#SCISSOR:hover {
  border: 10px solid rgb(80, 34, 24);
  opacity: 0.9;
  cursor: pointer;
}

.resultado {
  font-family: "Tilt prism";
  font-weight: bold;
  font-size: larger;
}
.resultados {
  display: flex;
  flex-direction: column;
  font-family: "Caprasimo", cursive;
}
.laPc,
.you {
  width: 100px;
  text-align: center;
}
.puntos,
.corresponde {
  display: flex;
  justify-content: space-evenly;
}
.puntos {
  font-size: xx-large;
}
.pcPuntos,
.playerPuntos {
  background-color: rgb(107, 103, 107);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#restart {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: large;
  font-style: italic;
  font-family: "Caprasimo", cursive;
  color: rgb(0, 0, 0);
  align-self: center;
  background-color: rgb(197, 128, 23);
  opacity: 0.8;
  border: 2px solid rgb(216, 216, 216);
}
#restart:hover {
  border: 5px solid rgb(216, 216, 216);
  opacity: 1;
  cursor: pointer;
}
.footer {
  font-style: italic;
  font-weight: bold;
}
.footer p {
  text-align: center;
  color: rgb(0, 0, 0);
}
